.myModal {
	display: none;
	position: absolute;
	left: 10%;
}

.myModalContent {
	padding: 10px;
	background: white;
	border-radius: 6px;
	justify-content: space-between;
	align-items: center;
}

.myModal_active {
	display: flex;
	position: absolute;
	left: 10%;
}

.ModalBttn{
	height: 10px;
	width: 10px;
	vertical-align: top;
	background-color: hotpink;
	position: absolute;
	right: 0;
	top: 0;
}

.modal_div {
	text-align: center;
}