/*.nc_glob {
	height: 100vh;
	width: 100vw;
	background-color: rgba(0, 0, 0, 0.4);
	position: fixed;
	top: 0;
	left: 0;
	display: flex;
	align-items: center;
	justify-content: center;
}

.nc_win{
	padding: 20px;
	border-radius: 12px;
	background-color: white;


}*/

.NC_active {
	display: flex;
	position: absolute;
	left: 45%;
	bottom: 75%;
}

.NC_Content {
	padding: 10px;
	background: blue;
	border-radius: 6px;
	justify-content: space-between;
	align-items: center;
}

.modal_div {
	text-align: center;
}