* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

#root {
	display: flex;
	justify-content: center;
}

.App {
	width: 1800px;
}

.post {
	display: flex;
	padding: 15px;
	border: 2px solid green;
	justify-content: space-between;
	align-items: center;
}

.input {
	border: 15px solid green;
	color: green;
}

.td-chat {
	height: 300;
	width: '75%';
	height:'300';
}

select {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	border: none;
  }

.div-chat {
	height: 240px;
	width: 100%;
	overflow-y: scroll;
	overflow-x: hidden;
	display: flex;
  	flex-direction: column-reverse;
}

.td-opt {
	align-content: center;
}

.chanButtn {
	height: 10px;
	width: 10px;
	vertical-align: top;
	background-color: hotpink;
	position: flex;
	float: right;
}

.td_chat_list {
	width: 42vw;
	overflow-y: hidden;
	overflow-x: scroll;
	vertical-align: 'bottom'; 
}

.td_div_chat_item_left {
	width: 4vw;
	overflow-x: hidden;
	overflow-y: hidden;
	float: left;
}

.td_div_chat_item
{
	width: 5vw;
}

.new_chanel_button
{
	height: 20px;
	background-color: rgb(65, 216, 123);
	position: flex;
	float: right;
}
