.channels_table
{
    background-color: rgb(23, 170, 33);
    border-collapse: separate;
    padding: 0%;
}

.td_div_chat_item_left {
    width: 4vw;
    height: 2vh;
    overflow-x: hidden;
    overflow-y: hidden;
    float: left;
    white-space: nowrap;
}

.td_div_chat_item
{
    width: 5vw;
}

.chat_list
{
}

.chat_item
{
}

.chat_name
{
}

.delete_chat
{
    margin-left: 10px;
}

.visible_chan
{
    background-color: azure;
}

.NC_active {
    display: flex;
    position: absolute;
    left: 45%;
    bottom: 50%;
}

.NC_Content {
    padding: 10px;
    background: rgb(207, 207, 224);
    border-radius: 6px;
    justify-content: space-between;
    align-items: center;
}

.modal_div {
    text-align: center;
}

.myModal {
    display: none;
    position: absolute;
    left: 10%;
}

.ModalBttn
{
    height: 10px;
    width: 10px;
    vertical-align: top;
    background-color: hotpink;
    position: absolute;
    right: 0;
    top: 0;
}

.joinChannelBttn
{
    float: left;
    text-align: center;
    background-color: rgb(105, 108, 255);
    width: 50%;
}

.createChannelBttn
{
    float: right;
    text-align: center;
    background-color: rgb(110, 255, 105);
    width: 50%;
}

.joinChannelDiv
{
    float: left;
    text-align: center;
    background-color: rgb(105, 108, 255);
    width: 100%;
}

.createChannelDiv
{
    float: right;
    text-align: center;
    background-color: rgb(110, 255, 105);
    width: 100%;
}

.td_chat_list {
    width: 42vw;
    overflow-y: hidden;
    overflow-x: scroll;
    vertical-align: 'bottom';
}

.chat-list li {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.div-chat {
    height: 240px;
    width: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
    display: flex;
    flex-direction: column-reverse;
    background-color: rgb(222, 224, 71);
}

.temp_del_this
{
    position: absolute;
    background: 'red';
    display: 'flex';
    height: '30px';
    width: '30px';
}