.div-roster {
	height: 70vh;
	width: 35%;
	overflow-y: scroll;
	overflow-x: hidden;
	display: flex;
	float: right;
  	flex-direction: column-reverse;
	background-color: #DADADA;
}

.div-online {
	height: 6px;
	width: 26px;
	background-color: rgb(65, 184, 35);
	border-radius: 3px;
	float: left;
}

.div-offline {
	height: 6px;
	width: 26px;
	background-color: rgb(184, 35, 35);
	border-radius: 3px;
	float: left;
}

.div-ingame {
	height: 6px;
	width: 26px;
	background-color: rgb(184, 35, 184);
	border-radius: 3px;
	float: left;
}

.div-outgame {
	height: 6px;
	width: 26px;
	background-color: rgb(162, 184, 35);
	border-radius: 3px;
	float: left;
}