.blackField
{
	position: relative;
	top: 0;
	left: 15%;
	background-color: #231f20;
	border: 1px solid #333333;
}

.ball
{
	width: 2vh;
	height : 2vh;
	position: absolute;
	border-radius: 1vh;
	background-color: rgb(49, 153, 35);
	z-index: 100;
}

.freeze
{
	width: 6vh;
	height : 6vh;
	position: absolute;
	border-radius: 1vh;
	background-color: rgb(110, 200, 212);
	z-index: 100;
}

.speed
{
	width: 6vh;
	height : 6vh;
	position: absolute;
	border-radius: 1vh;
	background-color: rgb(240, 49, 15);
	z-index: 100;
}

.shake
{
	width: 6vh;
	height : 6vh;
	position: absolute;
	border-radius: 1vh;
	background-color: rgb(107, 26, 33);
	z-index: 100;
}

.enemy
{
	width: 2vh;
	height: 10vh;
	position: absolute;
	background-color: rgba(196, 19, 19, 0.966);
	z-index: 100;
}

.wall
{
	width: 2vh;
	height: 10vh;
	position: absolute;
	background-color: rgba(170, 212, 209, 0.966);
	z-index: 100;
}

.weOwn
{
	width: 2vh;
	height: 10vh;
	position: absolute;
	background-color: rgba(54, 64, 199, 0.685);
	z-index: 100;
}
