.avatar {
    position: absolute;
    width: 170px;
    height: 170px;
    left: 44px;
    top: 44px;

    background: inherit;
    border-radius: 50%;
    border: 5px solid #ffffff;
    box-sizing: border-box;
}

.username {
    position: absolute;
    width: 218px;
    height: 72px;
    left: 237px;
    top: 63px;

    font-family: Roboto, regular, serif;
    font-style: normal;
    font-weight: normal;
    font-size: 60px;
    line-height: 72px;
    text-transform: capitalize;
    /* identical to box height, or 120% */

    color: #ffffff;

    /*border: 1px solid #B5B5B5;*/
    text-shadow:-1px 0px #B5B5B5, 0px -1px #B5B5B5, 1px 0px #B5B5B5, 0px 1px #B5B5B5, -1px -1px #B5B5B5, 1px 1px #B5B5B5, -1px 1px #B5B5B5, 1px -1px #B5B5B5
}

.settings {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 6px 6px 6px 8px;

    position: absolute;
    width: 103px;
    height: 36px;
    left: 240px;
    top: 148px;

    background: #525252;
    border-radius: 4px;
}

.settings.text {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 4px 8px 4px 6px;

    position: static;
    width: 89px;
    height: 24px;
    left: 8px;
    top: 6px;


    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 0px 0px;
}

.stat {
    position: absolute;
    width: 379px;
    left: 43px;
    top: 247px;
    bottom: 44px;

    background: #EEEEEE;
    border-radius: 10px;
}

.stat.text {
    position: absolute;
    width: 313px;
    height: 320px;
    left: 30px;
    top: 26px;

}

.stat.text.name {
    position: absolute;
    width: 228px;
    height: 56px;
    left: 30px;
    top: 26px;

    /* Headline 3 */
    font-family: Roboto, regular, serif;
    font-style: normal;
    font-weight: normal;
    font-size: 48px;
    line-height: 56px;
    text-transform: capitalize;
    /* identical to box height, or 117% */

    color: #000000;
}

.matches {
    position: absolute;
    width: 276px;
    right: 44px;
    top: 247px;
    bottom: 44px;

    background: #DADADA;
    border-radius: 10px;
}

.matches.name {
    position: absolute;
    width: 207px;
    height: 36px;
    left: 28px;
    top: 32px;

    /* Headline 4 */
    font-family: Roboto, regular, serif;
    font-style: normal;
    font-weight: normal;
    font-size: 34px;
    line-height: 36px;
    text-transform: capitalize;
    /* identical to box height, or 106% */

    color: #000000;
}

.matches.history {
    position: absolute;
    width: 182px;
    height: 320px;
    left: 28px;
    top: 84px;
}

.user {
    position: absolute;
    width: 785px;
    left: 84px;
    top: 116px;
    bottom: 74px;

    /* Chat backround */
    background: #C4C4C4;
    border-radius: 10px;
}

.achievements {
    position: absolute;
    width: 402px;
    right: 89px;
    top: 116px;
    bottom: 74px;

    background: #383838;
    border-radius: 10px;
}

.achievements.name {
    position: absolute;
    width: 158px;
    height: 56px;
    left: 44px;
    top: 43px;

/* Headline 3 */
    font-family: Roboto, regular, serif;
    font-style: normal;
    font-weight: normal;
    font-size: 48px;
    line-height: 56px;
    text-transform: capitalize;
/* identical to box height, or 117% */

    color: rgba(255, 255, 255, 0.87);
}

achievements.history {
    position: absolute;
    width: 246px;
    height: 371px;
    left: 44px;
    top: 132px;
}
